<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button
    type="button"
    class="close"
    (click)="modal.dismiss('Cross click')"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card p-2 m-0">
  <form [formGroup]="formAddTask" (ngSubmit)="onSubmit()">
    <div class="col-xl-12 col-md-6 col-12 mb-1">
      <div class="form-group">
        <label for="basicInput">Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="basicInput"
          placeholder="Task name"
        />
      </div>
    </div>
    <div class="col-xl-12 col-md-6 col-12 mb-1">
      <label class="label mb-0">Số dòng</label>
      <fieldset class="form-group">
        <ng-select
          formControlName="type"
          [items]="typeTask"
          [bindValue]="'value'"
          [bindLabel]="'item'"
          [clearable]="false"
        ></ng-select>
      </fieldset>
    </div>
    <div class="modal-footer p-0">
      <button
        type="submit"
        class="btn btn-success"
        data-dismiss="closeModal"
        rippleEffect
      >
        Add
      </button>
    </div>
  </form>
</div>
