<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card p-2">
      <section id="ngx-datatable-kitchen-sink">
        <h4 class="card-title">Task</h4>
        <div class="row mb-2 d-flex justify-content-center align-items-center">
          <div class="col-xl-3 col-md-3 col-12 mb-1">
            <label class="label mb-1">Search</label>
            <input
              type="search"
              placeholder="Search"
              class="form-control"
              (keyup)="filterUpdate($event)"
              (search)="filterUpdate($event)"
            />
          </div>
          <div class="col-md-4"></div>
          <div class="col-xl-3 col-md-3 col-12">
            <label class="label mb-1">Loại task</label>
            <fieldset class="form-group">
              <ng-select
                placeholder="All"
                formControlName="type"
                [items]="typeTask"
                [bindValue]="'value'"
                [bindLabel]="'item'"
                [clearable]="false"
                (change)="filterFast($event)"
              ></ng-select>
            </fieldset>
          </div>
          <div class="col-md-2 col-12 mt-1 d-flex justify-content-end">
            <button
              (click)="addTask()"
              type="button"
              class="btn btn-primary"
              rippleEffect
            >
              New task
            </button>
          </div>
        </div>
        <ngx-datatable
          [rows]="task"
          [rowHeight]="58"
          class="bootstrap core-bootstrap cursor cursor-pointer"
          [limit]="10"
          [columnMode]="ColumnMode.force"
          [headerHeight]="40"
          [footerHeight]="50"
          [scrollbarH]="true"
          [limit]="basicSelectedOption"
          (activate)="onActivate($event)"
          (select)="onSelect($event)"
        >
          <ngx-datatable-column
            name="STT"
            prop="id"
            [width]="100"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Name"
            prop="name"
            [width]="930"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="type" [width]="200">
            <ng-template let-type="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [class.badge-light-primary]="type === 0"
                [class.badge-light-success]="type === 1"
                [ngbTooltip]="
                  type === 1
                    ? 'These tasks are automatically added to all new projects'
                    : type === 0
                    ? 'These task must be manually added to projects'
                    : 'Undefine'
                "
                placement="top"
              >
                {{
                  type === 1
                    ? "Common task"
                    : type === 0
                    ? "Other task"
                    : "Null"
                }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div
                class="d-flex align-items-center"
                (click)="$event.preventDefault(); $event.stopPropagation()"
              >
                <div ngbDropdown container="body">
                  <a
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    class="hide-arrow"
                    id="dropdownBrowserState"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i
                      data-feather="edit"
                      class="text-primary cursor-pointer"
                    ></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right"
                    aria-labelledby="dropdownBrowserState"
                  >
                    <a
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="archiveTask(row)"
                      ><i data-feather="archive" class="mr-50"></i> Archive</a
                    >
                    <a
                      *ngIf="row.isDeleted"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="deleteTask(row)"
                      ><i data-feather="trash-2" class="mr-50"></i> Delete</a
                    >
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </section>
    </div>

    <!-- Basic Alerts end -->
  </div>
</div>
<!-- Modal -->

<ng-template #modal let-modal>
  <app-control-task
    [task]="taskEdit"
    [title]="title"
    [modal]="modal"
  ></app-control-task>
</ng-template>
<!-- / Modal -->
